<div class="thumbnail">
  <img src="https://dummyimage.com/180x250/333/fff&text={{book.title}}">
</div>
<div class="title">{{ book.title }}</div>
<div class="authors">{{ book.authors }}</div>
<div class="price">{{ book.price }}</div>
<div class="rating">{{ book.rating }}</div>

<div class="actions">
  <div class="btn-group">
    <button (click)="rateUp()" class="btn btn-default">+</button>
    <button (click)="rateDown()" class="btn btn-default">-</button>
  </div>
  <a [routerLink]="['details', book.isbn]">Details</a>
</div>


<!-- .btn-group>button.btn.btn-default*2 -->
