<!-- .thumbnail>img -->
<div class="thumbnail">
  <img *ngIf="bookInput.thumbnail; else dummyImage"
    src="{{ bookInput.thumbnail }}"
    alt="{{ bookInput.title }}">

  <ng-template #dummyImage>
    <img
     src="https://dummyimage.com/180x250/333/fff&text={{ bookInput.title }}"
    alt="{{ bookInput.title }}">
  </ng-template>
</div>

<!-- .content>.title+.authors+.price+.rating -->
<div class="content">
  <div class="title">{{ bookInput.title }}</div>
  <div class="authors">{{ bookInput.authors }}</div>
  <div class="price">{{ bookInput.price }}</div>
  <div class="rating">{{ bookInput.rating }}</div>
</div>
<!-- .actions>.btn-group>button.btn.btn-default*2 -->
<div class="actions">
  <div class="btn-group">
    <button (click-once)="rateUp()" class="btn btn-default">+</button>
    <button (click-once)="rateDown()" class="btn btn-default">-</button>
  </div>
  <a [routerLink]="['/book',bookInput.isbn]"> Details </a>
</div>
