.search-results {
  width: 100%;
  height: 400px;
  overflow-y: auto;
  z-index: 1;
  top: 60px;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 5px 5px 10px 0px rgba(212,212,212,1);
}

.spinner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
