<div class="btn-group">
  <button (click)="change.emit(viewMode.Grid)" class="btn">Kachelansicht</button>
  <button (click)="change.emit(viewMode.List)" class="btn">Listenansicht</button>
</div>

<!--
<div class="btn-group">
  <div class="radio btn">
    <input (click)="change.emit(viewMode.Grid)" type="radio" name="radio-view-mode" id="btn-view-mode-grid" checked>
    <label for="btn-view-mode-grid">Kachelansicht</label>
  </div>
  <div class="radio btn">
    <input (click)="change.emit(viewMode.List)" type="radio" name="radio-view-mode" id="btn-view-mode-list">
    <label for="btn-view-mode-list">Listenansicht</label>
  </div>
</div>
-->
